@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: '';
  src: url("../fonts/") format("woff2"), url("../fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}

.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  color: #212529;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 7px 0 #ad900b;
          box-shadow: 0 7px 0 #ad900b;
  background-color: #ffe156;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6c40e), to(#ffe982));
  background-image: linear-gradient(to top, #e6c40e 0%, #ffe982 100%);
}

.btn-l {
  width: 353px;
  height: 95px;
  border-radius: 48px;
  font-size: 20px;
  color: #1f1f1f;
}

.btn-s {
  width: 306px;
  height: 62px;
  border-radius: 31px;
}

.btn:hover {
  text-decoration: none;
  color: #212529;
  opacity: .9;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.burger-menu {
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 40px;
  right: 40px;
  display: none;
  z-index: 15;
  cursor: pointer;
}

.section {
  padding: 3.5rem 0;
}

@media (max-width: 1200px) {
  .burger-menu {
    display: block;
  }
  .btn-l {
    width: 333px;
    height: 75px;
  }
}

@media (max-width: 400px) {
  .btn-l {
    width: 233px;
    height: 65px;
    font-size: 20px;
    line-height: 1;
  }
}

.title {
  color: #1f1f1f;
  font-size: 36px;
  position: relative;
  font-weight: 400;
}

.title:after {
  content: '';
  display: block;
  width: 90px;
  height: 8px;
  background: #e41d2d;
  margin-top: 8px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.header {
  background: #e41d2d url(../img/header/bg-header.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 30px;
  background-color: #FC1527;
  z-index: 15;
}

.header-logo {
  width: 240px;
  height: 95px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu a {
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
  text-transform: uppercase;
}

.header-menu_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #fff;
  margin-left: 20px;
}

.header-menu_phone span {
  font-size: 12px;
  color: #fff;
}

.header-block {
  margin-top: 160px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left {
  width: 50%;
}

.header-info {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 85px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 20px;
}

.header-info span {
  font-size: 185px;
}

.header-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  position: absolute;
  top: 117px;
  left: 440px;
  z-index: 5;
}

.header-price_old {
  opacity: .4;
  position: relative;
  font-size: 33px;
}

.header-price_old::after {
  content: '';
  display: block;
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: #ec9095;
  top: 50%;
  left: -10px;
}

.header-price_new {
  font-size: 36px;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-button a {
  margin-bottom: 40px;
}

.header-button span {
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  margin-left: 30px;
}

.header-right {
  position: relative;
  width: 50%;
}

.header-right figure {
  position: absolute;
  top: -47px;
  left: -100px;
  width: 675px;
  height: 649px;
  overflow: hidden;
}

.header-right figure img {
  max-width: 100%;
}

.header-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: iconsDown 1s infinite;
          animation: iconsDown 1s infinite;
}

@-webkit-keyframes iconsDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes iconsDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .header-nav {
    position: static;
    background: transparent;
  }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    padding: 10px;
    display: none;
  }
  .header-menu a {
    font-size: 30px;
    margin: 10px 0;
  }
  .header-menu_phone span {
    font-size: 14px;
    text-align: center;
  }
  .header-info {
    font-size: 65px;
  }
  .header-info span {
    font-size: 105px;
  }
  .header-price {
    width: 200px;
    top: 76px;
    left: 300px;
  }
  .header-price_old {
    font-size: 24px;
  }
  .header-price_old::after {
    width: 80%;
  }
  .header-price_new {
    font-size: 26px;
  }
  .header-right figure {
    position: absolute;
    top: -67px;
    left: -95px;
    width: 575px;
    height: 549px;
  }
}

@media (max-width: 992px) {
  .header-right figure {
    position: absolute;
    top: 33px;
    left: -10px;
    width: 475px;
    height: 449px;
  }
}

@media (max-width: 767px) {
  .header-block {
    width: 100%;
  }
  .header-left {
    width: 100%;
  }
  .header-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-right {
    display: none;
  }
}

@media (max-width: 576px) {
  .header-block {
    margin-top: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-info {
    font-size: 36px;
    text-align: center;
  }
  .header-info span {
    font-size: inherit;
  }
  .header-price {
    position: static;
    width: 100%;
  }
  .header-price_old {
    font-size: 22px;
    text-align: center;
  }
  .header-price_old::after {
    width: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-price_new {
    font-size: 24px;
    text-align: center;
  }
  .header-button {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-button span {
    margin-top: -10px;
    text-align: center;
  }
  .header-left {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header-logo {
    width: 200px;
  }
}

.header-menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cost {
  padding-top: 3rem;
}

.cost-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.cost-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  min-height: 125px;
  margin-bottom: 10px;
}

.cost-card_img {
  min-width: 50px;
  min-height: 50px;
  opacity: .7;
}

.cost-card_img img {
  width: 100%;
}

.cost-card_text {
  margin: 0;
  margin-left: 25px;
  padding: 0;
}

.cost-card_text h2 {
  margin-top: 5px;
  color: #1f1f1f;
  font-size: 24px;
}

.cost-card_text p {
  margin-top: -5px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .cost-card {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 992px) {
  .cost-card p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .cost-card {
    width: 100%;
  }
  .cost-card h2 {
    font-size: 20px;
  }
}

.need {
  background: url(../img/need/need-bg.png) no-repeat top right -200px;
  background-size: cover;
  background-color: #fafafa;
}

.need-block {
  width: calc(50% - 50px);
}

.need-list {
  margin-top: 100px;
  width: 100%;
  list-style: none;
  position: relative;
}

.need-list li {
  color: #1f1f1f;
  font-size: 18px;
  position: relative;
}

.need-list li::before {
  content: '';
  display: block;
  height: 2px;
  width: 15px;
  background: #888888;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -30px;
}

@media (max-width: 1200px) {
  .need {
    background-position-x: -100px;
  }
}

@media (max-width: 992px) {
  .need {
    background-position-x: -50px;
  }
  .need-block {
    width: 70%;
  }
  .need-list {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .need {
    background-image: none;
  }
  .need-block {
    width: 100%;
  }
  .need-list {
    margin-top: 50px;
  }
}

.block-form {
  background: url(../img/block-form-bg.png) no-repeat;
  background-size: cover;
  background-color: #e41d2d;
}

.block-form_title {
  font-size: 24px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 400;
}

.block-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.block-form .form input {
  width: 33%;
  height: 62px;
  border-radius: 10px;
  border: 1px solid #d8e2e9;
  background-color: #ffffff;
  color: #888888;
  font-size: 18px;
  padding: 15px;
}

@media (max-width: 1200px) {
  .block-form_title {
    font-size: 22px;
  }
  .block-form .form {
    margin-top: 60px;
  }
  .block-form .form input {
    margin: 0 15px;
  }
}

@media (max-width: 992px) {
  .block-form_title {
    font-size: 22px;
  }
  .block-form .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-form .form input {
    margin: 15px;
    width: 100%;
  }
  .block-form .form button {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .block-form_title {
    font-size: 18px;
  }
}

.about-us_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.about-us_card {
  width: 365px;
  height: 165px;
  border: 1px solid #d8e2e9;
  position: relative;
  margin-bottom: 30px;
}

.about-us_card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.about-us_card-text {
  width: 265px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
}

.about-us_card-text h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
}

.about-us_card-text p {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .about-us_card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 992px) {
  .about-us_card-text {
    padding: 0;
    padding-left: 30px;
  }
  .about-us_card-text img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .about-us_card {
    width: 100%;
  }
  .about-us_card-text {
    padding-left: 60px;
    padding-right: 15px;
    width: 100%;
  }
}

.contacts {
  background-color: #fafafa;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

.contacts-list {
  margin-top: 60px;
  padding-left: 50px;
}

.contacts-span {
  color: #1f1f1f;
  font-size: 14px;
}

.contacts-phone {
  position: relative;
}

.contacts-phone::before {
  content: '';
  display: block;
  background: url(../img/contacts/phone.png) no-repeat;
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.contacts-phone a {
  font-size: 28px;
  color: #000;
}

.contacts-phone span {
  display: block;
  color: #e41d2d;
}

.contacts-skype {
  color: #e41d2d;
  font-style: 18px;
  margin-top: 30px;
  position: relative;
}

.contacts-skype::before {
  content: '';
  display: block;
  background: url(../img/contacts/skype.png) no-repeat;
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.contacts-address {
  margin-top: 30px;
  position: relative;
}

.contacts-address::before {
  content: '';
  display: block;
  background: url(../img/contacts/address.png) no-repeat;
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 31px;
}

.contacts-social {
  margin-top: 30px;
}

.contacts-social a:hover {
  opacity: .8;
}

.contacts-map {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1200px) {
  .contacts-info {
    width: 50%;
  }
  .contacts-map {
    width: 50%;
  }
  .contacts-map iframe {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .contacts-info {
    width: 100%;
  }
  .contacts-map {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 100%;
  }
  .contacts-map iframe {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-menu a {
  color: #1f1f1f;
  font-size: 16px;
  margin: 0 15px;
}

.footer-menu a:hover {
  opacity: .8;
}

.footer-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 180px;
  height: 70px;
}

@media (max-width: 768px) {
  .footer-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */